**/data/
env/
**/weights/
.vscode/
*.pth
**/__pycache__/
**/other_maybe_relevant_code/
onnx-tensorflow/
ZZZ_own_code_testing.py
dataset/
adaboost/adaboost_runs/
.idea/
mlruns/
checkpoints/
archive/models/*
archive/trials/*
logs/
final_output_masks/
gray_test_ds/
*.pt
pb_token.txt
output_preds/
*.ckpt/
*.pt
*.zip
*.csv