# ------ Venv with python=3.7 -------
## conda create -n CIL2022 python==3.7
## conda activate CIL2022
## conda install cmake
## pip install -r requirements.txt
# select correct python interpreter via Ctrl+Shift+P --> "set python interpreter" --> select CIL2022 python interpreter
# cmake needed for onnx
# also install onnx to convert between torch and tensorfow:
## git clone https://github.com/onnx/onnx-tensorflow.git && cd onnx-tensorflow && pip install -e

hyperopt
mlflow
pysftp
paramiko
gym
tensorflow
torchvision
pexpect
requests
urllib3
sklearn
opencv-python
matplotlib
Pillow
baselines
mpi4py
tqdm
timm~=0.6.5
mmcv~=1.6.0
ipython~=7.34.0
einops~=0.4.1
protobuf==3.20.*