# ------ Venv with python=3.7 -------
## conda create -n CIL2022 python==3.7
## conda activate CIL2022
## conda install cmake
## pip install -r requirements.txt
# select correct python interpreter via Ctrl+Shift+P --> "set python interpreter" --> select CIL2022 python interpreter
# cmake needed for onnx
# also install onnx to convert between torch and tensorfow:
## git clone https://github.com/onnx/onnx-tensorflow.git && cd onnx-tensorflow && pip install -e

cloudpickle==2.0.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
hyperopt==0.2.5
keras==2.7.0
Keras-Preprocessing==1.1.2
kornia==0.6.3
matplotlib==3.4.3
mlflow==1.24.0
numpy==1.21.5
oauthlib==3.2.0
onnx==1.11.0
opencv-python==4.5.4.60
packaging==21.3
pandas==1.1.4
pexpect==4.8.0
Pillow==8.4.0
pyparsing==3.0.7
pysftp==0.2.9
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
sklearn==0.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
tensorflow_addons==0.16.1
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.62.3
urllib3==1.26.8
wget==3.2.0
mlflow==1.24.0
pexpect==4.8.0
wexpect==4.0.0